parameters:
    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false

    # Sync parameters
    app.master.storage:
    app.master.path:
    app.master.filters:

    app.slave.storage:
    app.slave.path:
    app.slave.path_tpl:
    app.slave.filters: