parameters:
    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false

    # Sync parameters
    app.master.storage: local
    app.master.path: /tmp
    app.master.filters: []

    app.slave.storage: local
    app.slave.path: /tmp
    app.slave.path_tpl: /
    app.slave.filters: []


